body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#time-window-selector {
    margin: 20px;
    text-align: center;
}

#data-display, #visualizations {
    margin: 20px;
}

canvas {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}
